:root {
  --nav-background-color: hsla(0, 0%, 13%, 0.98);
  --border-color: #313131;
  --info-icon-color: rgb(144, 144, 144);
  --info-text-color: rgb(170, 170, 170);
  --yt-blue: dodgerblue;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: "Roboto";
  color: #fff;
}

body {
  background-color: #181818;
  color: whitesmoke;
  margin: 0%;
  font-family: Roboto, Noto, sans-serif;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

/* nav bar */
navbar {
  background-color: var(--nav-background-color);
  height: 60px;
  position: fixed;
  z-index: 100;
  width: 100%;
  margin: 0%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2%;
}

.hamburger-menu-button {
  background-color: var(--nav-background-color);
  border: none;
  cursor: pointer;
}

.logo-button {
  background-color: var(--nav-background-color);
  border: none;
  cursor: pointer;
}

#nav-logo {
  max-height: 22px;
  margin-left: 15px;
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
}

.search-input {
  background-color: #121212;
  border: solid 1px var(--border-color);
  font-size: 18px;
  line-height: 24px;
  padding: 3px 8px;
  width: 100%;
  text-align: start;
  align-items: center;
  height: 30px;
  z-index: 2;
}
.search-input:focus {
  outline: rgb(19, 112, 206) solid 1px;
}

#search-icon {
  display: flex;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--border-color);
  height: 30px;
  padding: 3px 8px;
  border: solid 1px var(--border-color);
  width: 10%;
  min-width: 50px;
  border-radius: 2px;
  margin-right: 14px;
}

#search-svg {
  height: 24px;
  width: 24px;
  fill: #6d6d6d;
}

.microphone-icon-container {
  height: 36px;
  width: 36px;
  cursor: pointer;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 3%;
}

.create-icon-container,
.apps-icon-container {
  height: 28px;
  width: 28px;
  margin: 0px 13px;
  cursor: pointer;
}

.nav-icons {
  fill: white;
}

.google-avi-container {
  height: 36px;
  width: 36px;
  cursor: pointer;
}

.google-avi {
  height: 36px;
  width: 36px;
  margin: 0px 13px;
  border-radius: 50px;
}

/* main content */

.content {
  margin: 60px 0px 0px 0px;
  padding: 24px 0px 0px 0px;
  max-width: 1200px;
  min-width: 92%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 1400px) {
  .content {
    width: 97%;
  }
}

@media only screen and (max-width: 1000px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}

main {
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 2;
}

/* video player */
.video-container {
  width: 100%;
}

.player {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* video info */
.video-title {
  margin: 18px 0px 5px 0px;
  font-size: 20px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.video-primary-info {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}
@media only screen and (max-width: 1496px) {
  .video-primary-info {
    grid-template-columns: minmax(0, 1fr);
  }
}

.video-info-left {
  padding-top: 12px;
  justify-content: flex-start;
  padding-right: 30px;
  align-items: center;
}

.video-views-and-description {
  display: flex;
  justify-content: flex-start;
}

.video-views-date {
  font-weight: 500;
  letter-spacing: 0.5px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.show-more {
  line-height: 32px;
  cursor: pointer;
  width: auto;
  font-weight: 500;
  font-family: Roboto;
  color: var(--info-text-color);
}

.video-info-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media only screen and (max-width: 1496px) {
  .video-info-right {
    justify-content: center;
    margin-bottom: 15px;
  }
}

.video-info-button-container {
  display: flex;
  flex-direction: row;
}

.info-buttons {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border: none;
  align-items: center;
  margin: 8px;
  cursor: pointer;
}

.info-icons-container {
  height: 26px;
  width: 26px;
}

.info-icons {
  fill: var(--info-icon-color);
}

.video-info-button-numbers {
  color: var(--info-text-color);
  font-size: 14px;
  font-weight: 500;
  margin: 5px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.video-info-button-text {
  color: var(--info-text-color);
  font-size: 14px;
  font-weight: 500;
  margin: 5px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

/* channel and comment preview containers */
.channel-and-comment-preview-contianers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* channel container */
.channel-container {
  border: solid 1px var(--border-color);
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  padding: 6px 0px;
  width: 49.3%;
  margin: 0%;
}

.channel-container-left {
  display: flex;
}

.channel-avi {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  margin: 0px 14px;
}

.channel-name-and-subs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.channel-name {
  display: flex;
  font-weight: 500;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

.verified-container {
  padding-top: 2px;
  height: 20px;
}

.subscribers {
  font-size: 14px;
  color: var(--info-text-color);
}

.join-subscribe-buttons {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.join-button {
  background-color: transparent;
  color: var(--yt-blue);
  border: solid 1px var(--yt-blue);
  padding: 0px 15px;
  margin: 1px 13px;
  border-radius: 2px;
  font-weight: 500;
  cursor: pointer;
}

.subscribe-button {
  background-color: #cc0000;
  color: white;
  border: none;
  padding: 0px 15px;
  margin: 1px 0px;
  border-radius: 2px;
  font-weight: 500;
  cursor: pointer;
}

/* commepnts preview container */
.comments-preview-container {
  border: solid 1px var(--border-color);
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  padding: 10px 0px;
  width: 49.3%;
  margin: 0%;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

@media only screen and (max-width: 1496px) {
  .channel-and-comment-preview-contianers {
    flex-direction: column;
  }
  .channel-container,
  .comments-preview-container {
    width: 100%;
  }
  .comments-preview-container {
    margin-top: 12px;
  }
}

.comments-preview-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 14px;
  border-right: solid 1px var(--border-color);
}

.comments-preview-center {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.user-avi-small {
  height: 20px;
  width: 20px;
  border-radius: 100px;
  margin: 0px 14px;
}

.comments-preview-comment {
  font-size: 14px;
}

.comments-preview-right {
  margin-right: 4px;
}

/* comments */
.comments-header-container {
  margin: 18px 0px;
}
.comments-header {
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
}

.comments-number {
  font-size: 16px;
  margin-right: 25px;
}

.add-comment-container {
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
}

.add-comment-container-top {
  display: flex;
  flex-direction: row;
  position: relative;
}

.comment-avi {
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.comment-input {
  margin-left: 18px;
  background-color: transparent;
  color: var(--info-text-color);
  border: none;
  border-bottom: solid 1px var(--border-color);
  width: 100%;
  font-size: 14px;
  height: 26px;
  outline: none;
}
.comment-input:focus {
  border-bottom: solid 2px black;
  margin-bottom: 35px;
}

.add-comment-container-buttons {
  display: flex;
  justify-content: flex-end;
  display: none;
  position: absolute;
  right: 0px;
  top: 33px;
  cursor: pointer;
}

.comment-cancel-button {
  background-color: transparent;
  color: var(--info-text-color);
  border: none;
  padding: 12px 15px;
  border-radius: 2px;
  font-weight: 500;
  cursor: pointer;
}

.comment-submit-button {
  background-color: #303030;
  color: var(--info-icon-color);
  border: none;
  padding: 12px 15px;
  border-radius: 2px;
  font-weight: 500;
  cursor: pointer;
}

.comment-input:focus + .add-comment-container-buttons {
  display: flex;
}

.comments-container {
  margin: 35px 0px;
}

.comment-container {
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
}

.comment-username-and-comment {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.comment-username {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
}

.date-posted {
  color: var(--info-text-color);
  font-size: 12px;
  font-weight: 400;
}

.comment-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.comment-likes-and-reply {
  display: flex;
  align-items: center;
}

.comment-icons-container {
  height: 18px;
  width: 18px;
}

.video-comment-button-numbers {
  color: var(--info-text-color);
  font-size: 12px;
  font-weight: 400;
  margin-left: 8px;
  margin-right: 6px;
  margin-top: 1px;
}

.comment-reply {
  cursor: pointer;
  width: auto;
  align-items: center;
  font-weight: 500;
  font-size: 13px;
  color: var(--info-text-color);
}

.view-hide-replies {
  color: var(--yt-blue);
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.reply-icon-container {
  height: 20px;
  width: 20px;
}

.reply-icon {
  fill: var(--yt-blue);
}

/* aside */
aside {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  grid-column: 3 / span 1;
  justify-content: flex-start;
  /* background-color:blueviolet */
}

/* suggestions */

.suggestions-container {
  display: flex;
  overflow: hidden;
}

.radio-label {
  display: inline-block;
  background-color: #303030;
  padding: 7px 12px;
  line-height: 20px;
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  cursor: pointer;
  margin-right: 10px;
  overflow-x: visible;
}

input.suggestions-radio[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

input:checked + .radio-label {
  background-color: white;
  color: rgb(3, 3, 3);
  padding: 7px 12px;
  line-height: 20px;
  border-radius: 50px;
  cursor: pointer;
}

/* suggested videos */
.suggested-videos-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.suggested-video-container {
  display: flex;
  margin: 2px 0px;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  position: relative;
}

.suggested-video-container-preview {
  position: relative;
}

.suggested-video-runtime {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  padding: 2px 4px;
  letter-spacing: 0.35px;
  margin: 4px;
  display: flex;
  right: 0px;
  bottom: 4px;
  align-items: center;
  justify-content: center;
  visibility: initial;
}

.suggested-video-container:hover .suggested-video-runtime {
  visibility: hidden;
}

.suggested-watch-later {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  height: 28px;
  width: 28px;
  border-radius: 3px;
  margin: 4px;
  display: flex;
  right: 0px;
  top: 0px;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.suggested-add-to-queue {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  height: 28px;
  width: 28px;
  border-radius: 3px;
  margin: 4px;
  display: flex;
  right: 0px;
  top: 32px;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.suggested-video-container:hover .suggested-watch-later,
.suggested-video-container:hover .suggested-add-to-queue {
  visibility: initial;
}

.icon-title {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  border-radius: 3px;
  display: flex;
  right: 32px;
  top: 0px;
  padding: 7px 4px;
  width: 90px;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.suggested-watch-later:hover .icon-title,
.suggested-add-to-queue:hover .icon-title {
  visibility: initial;
}

.watch-later-icon {
  fill: white;
}

.video-preview-image {
  height: 94px;
}

.suggested-video-container-info {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.suggested-video-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.suggested-video-channel {
  color: var(--info-text-color);
  font-size: 12px;
  font-weight: 400;
  padding-top: 5px;
  display: flex;
  align-items: center;
}

.suggested-verified-container {
  padding-top: 2px;
  height: 18px;
}

.options-button {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 4px;
}

.options-icon-container {
  width: 24px;
  cursor: pointer;
}

.options-icons {
  fill: var(--info-text-color);
  visibility: hidden;
}

.options-icon-container:hover .options-icons {
  fill: white;
}

.suggested-video-container:hover .options-icons {
  visibility: initial;
}

/* custom tooltip */

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.35s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  background-color: rgba(97, 97, 97, 0.85);
  color: white;
  font-size: 13px;
  position: absolute;
  padding: 7px 15px;
  border-radius: 2px;
  bottom: -40px;
  left: 0%;
  white-space: nowrap;
  z-index: 99999;
  visibility: hidden;
}
[data-title] {
  position: relative;
}
